<p id="notice"><%= notice %></p>

<p>
  <b>Controller:</b>
  <%= @datasource.controller_id %>
</p>

<p>
  <b>Device:</b>
  <%= @datasource.device_id %>
</p>

<p>
  <b>Datasource instance number:</b>
  <%= @datasource.datasource_instance_number %>
</p>

<p>
  <b>Datasource type:</b>
  <%= @datasource.datasource_type %>
</p>

<p>
  <b>Datasource type name:</b>
  <%= @datasource.datasource_type_name %>
</p>

<p>
  <b>Datasource property:</b>
  <%= @datasource.datasource_property %>
</p>

<p>
  <b>Datasource property name:</b>
  <%= @datasource.datasource_property_name %>
</p>

<p>
  <b>Datasource refrence:</b>
  <%= @datasource.datasource_refrence %>
</p>

<p>
  <b>Datasource name:</b>
  <%= @datasource.datasource_name %>
</p>

<p>
  <b>Datasource description:</b>
  <%= @datasource.datasource_description %>
</p>


<%= link_to 'Edit', edit_datasource_path(@datasource) %> |
<%= link_to 'Back', datasources_path %>
