<h1>Listing escs</h1>

<table>
  <tr>
    <th>Controller name</th>
    <th>Controller reference</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @escs.each do |esc| %>
  <tr>
    <td><%= esc.controller_name %></td>
    <td><%= esc.controller_reference %></td>
    <td><%= link_to 'Show', esc %></td>
    <td><%= link_to 'Edit', edit_esc_path(esc) %></td>
    <td><%= link_to 'Destroy', esc, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Esc', new_esc_path %>
