<p id="notice"><%= notice %></p>

<p>
  <b>Controller name:</b>
  <%= @esc.controller_name %>
</p>

<p>
  <b>Controller reference:</b>
  <%= @esc.controller_reference %>
</p>

<b>ESC Trends:</b>
</br>
<b>Value Points:</b>
<table>
<%= render @datasources %>
</table>

<b>Devices:</b>
<table>
<%= render @devices %>
</table>

<%= link_to 'Edit', edit_esc_path(@esc) %> |
<%= link_to 'Back', escs_path %>

